<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacts CRUD with Vue.js, Axios, PHP, MySQL, and Bulma</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <style>
        [v-cloak] { display: none; }
        .table td.edit { cursor: pointer; }
        .table td.edit:hover { text-decoration: underline; }
    </style>
</head>

<body>

<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Contacts CRUD with Vue.js, Axios, PHP, MySQL, and Bulma
      </p>
      <p class="subtitle">
        by <a href="http://webcarpehtner.com">Joseph Cowdell</a>
      </p>
    </div>
  </div>
</section>
<section class="section">
<div class="container"> 
    <div v-cloak id="vue_contacts">
            <div class="modal" :class="{ 'is-active': isModalOpen }">
                  <div class="modal-background" @click="closeModal()"></div>
                  <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">{{ modalTitle }}</p>
                            <button class="delete" aria-label="close" @click="closeModal()"></button>
                        </header>
                        <section class="modal-card-body">
                        <form v-on:submit.prevent>
                            <div class="field">
                                <label class="label">Name</label>
                                <input class="input" type="text" name="name" v-model="formData.name" required>
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <input class="input" type="email" name="email" v-model="formData.email" required>
                            </div>
                            <div class="field">
                                <label class="label">City</label>
                                <input class="input" type="text" name="city" v-model="formData.city">
                            </div>
                            <div class="field">
                                <label class="label">State</label>
                                <input class="input" type="text" name="state" v-model="formData.state">
                            </div>
                            <div class="field">
                                <label class="label">Zip</label>
                                <input class="input" type="text" name="zip" v-model="formData.zip">
                            </div>
                            <div class="field">
                                <label class="label">Phone</label>
                                <input class="input" type="text" name="phone" v-model="formData.phone">
                            </div>
                            <div class="field">
                                <label class="label">Rating</label>
                                <div class="select">
                                  <select class="select" v-model="formData.rating">
                                    <option v-for="num in nums" :value="num">{{ num }}</option>
                                  </select>
                                </div>
                            </div>
                        </section>
                <footer class="modal-card-foot" style="justify-content: flex-end;">
                        <button v-if="!isEditing" class="button is-primary" @click="createContact()">Add</button>
                        <button v-if="isEditing" class="button is-primary" @click="changeContact()">Change</button>
                </footer>
                </form>

                  </div>
                  <button class="modal-close is-large" aria-label="close" @click="closeModal()"></button>
                </div>


       <div>
        <h1 class="title">Contacts</h1>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label>Search</label>
                    <input class="input" type="text" v-model="search" placeholder="Enter your search"/>
                </div>
            </div>
            <div class="column">
                <div class="field">
                  <br />
                  <button class="button is-primary" @click="openCreateModal()"><i class="fas fa-plus"></i></button>
<!--  // Alternate method of toggling
<button class="button is-text is-pulled-right" @click="toggleDisabled()">{{ labelDisabled }}</button>
 -->                
                </div>
            </div>

        </div>

            <div class="tabs">
              <ul>
                <li :class="{ 'is-active': !showDisabled }" @click="toggleDisabled()"><a>Active</a></li>
                <li :class="{ 'is-active': showDisabled }" @click="toggleDisabled()"><a>Disabled</a></li>
              </ul>
            </div>

        <table class="table is-striped is-hoverable">
            <thead>
                <tr>
                    <th v-for="(header, index) in fields" :key="header.name">
                        <a @click="[setOrderBy(header.name), getHeaderClass(header.name)]">
                        {{ header.name }} 
                        &nbsp; <i :class="header.clss"></i>
                        </a>
                    </th>
<!--                 <th @click="setOrderBy('name')">
                    Name &nbsp;<i :class="{fields.name.clss}" aria-hidden="true"></i></th>
                <th @click="setOrderBy('email')">
                    Email&nbsp;<i :class="getHeaderClass('email')" aria-hidden="true"></th>
                <th @click="setOrderBy('city')">
                    City&nbsp;<i :class="getHeaderClass('city')" aria-hidden="true"></th>
                <th @click="setOrderBy('state')">
                    State&nbsp;<i :class="getHeaderClass('state')" aria-hidden="true"></th>
                <th @click="setOrderBy('zip')">
                    Zip&nbsp;<i :class="getHeaderClass('zip')" aria-hidden="true"></th>
                <th @click="setOrderBy('phone')">
                    Phone&nbsp;<i :class="getHeaderClass('phone')" aria-hidden="true"></th>
                <th @click="setOrderBy('rating')">
                    Rating&nbsp;<i :class="getHeaderClass('rating')" aria-hidden="true"></th>
                <th>&nbsp;</th>

 -->            
                </tr>
            </thead>
            <tbody>
                <tr v-for="(contact, index) in filteredContacts" :key="contact.id">
                    <td class="edit" @click="editContact(contact, index)"><i class="fas fa-edit"></i></td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.city }}</td>
                    <td>{{ contact.state }}</td>
                    <td>{{ contact.zip }}</td>
                    <td><span>{{ contact.phone }}</span>&nbsp; <a onclick="copyPreviousSibling(this)" class="is-pulled-right"><i class="far fa-copy"></i></a></td>
                    <td>{{ contact.rating }}</td>
                    <td class="edit">
                         <span class="delete is-small" @click="deleteContact(contact, index)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
       </div>

    </div>

  </div>
</section>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./js/crud.js"></script>
</body>
</html>